FORMAT: 1A
HOST: https://absences.nereo.com/api

# Nereo API

> WORK IN PROGRESS
>
> PLEASE NOTE THAT THIS DOCUMENTATION IS NOT YET COMPLETE

Nereo API let's you integrate leaves management into your internal processes or tools. [Save time: automate leaves management with Nereo.](https://nereo.com)

> At the moment, only leave requests can be created and edited. The other endpoints are read-only, but they will come later.

**[Subscribe to our API newsletter to be kept informed of the evolutions.](https://app.mailjet.com/widget/iframe/25Ry/2xV)**

## Authentication
To authenticate through the API, you will need a token that you have to provide in the `Authorization` header of your request, prefixed by the keyword `Token`. For example:

```
Authorization: Token MyRandomToken
```

>    Please note that this token shares the **same rights** as your user account:
>
>    * If you're a **administrator**, you'll be able to view, create and edit every objects ;
>    * If you're a **validator**, you'll be able to view, create and edit your objects and the ones belonging to the persons you validate ;
>    * If you're a **regular user**, you'll only be able to view, create and edit your own objects.

# Group Users
Users represent the employees of the company managing their leave on Nereo.

## User [/users/{id}/]

+ Parameters
    + id: 1 (number) - The ID of the User.
    
### Retrieve a User [GET]
Retrieve the User with the given ID.

+ Response 200 (application/json)
    + Attributes (User)
    
### Get the balances of a User [POST /leaverequests/{id}/balances/]
Get the balances of *each* absences types of a User for *each* day between two dates.

+ Request
    + Attributes (object)
        + begin_date: `2017-01-01` (string, required) - First date to retrieve in format `YYYY-MM-DD`.
        + end_date: `2017-01-07` (string, required) - Last date to retrieve in format `YYYY-MM-DD`.
        
+ Response 200 (application/json)
    + Attributes (array)
        + (object)
            + accountKey: `ta_123` (string) - Key of the Timed Account (NOT the ID) **IMPROVEMENT NEEDED**
            + balances (array)
                + (object)
                    + date: `2017-01-01`(string) - Date of the balance in format `YYYY-MM-DD`.
                    + value: 2.08 (number) - Balance of the Timed Account for this User at `date`.
    
## Users Collection [/users/{?disabled}{?validated}]

+ Parameters
    + disabled: false (boolean, optional) - Filter the Users that are disabled, i.e. `endDate` is not null and is older that seven days ago.
    + validated: false (boolean, optional) - Filter the Users that the user validates.
    
### Retrieve all Users [GET]
Retrieve all the Users.

+ Response 200
    + Attributes (object)
        + Include Pagination
        + results (array[User]) - Array of results.


# Group Accounts
Accounts represent all the absences types available in your company: paid leaves, sick leave, etc.

## Account [/accounts/{id}/]

+ Parameters
    + id: 1 (number) - The ID of the Account.

### Retrieve an Account [GET]
Retrieve the Account with the given ID.

+ Response 200 (application/json)
    + Attributes (Account)
       
## Account Collection [/accounts/{?hidden}]

+ Parameters
    + hidden: false (boolean, optional) - Filter the Accounts hidden to the employees.

### Retrieve all Accounts [GET]
Retrieve all the Accounts.

+ Response 200
    + Attributes (object)
        + Include Pagination
        + results (array[Account]) - Array of results. 


# Group Leave Requests
Leave requests are at the heart of the Nereo system: they represent an absence of an employee.

## Leave Request [/leaverequests/{id}/]

+ Parameters
    + id: 1 (number) - The ID of the Leave Request.

### Retrieve a Leave Request [GET]
Retrieve the Leave Request with the given ID.

+ Response 200 (application/json)
    + Attributes (Leave Request)
    
### Cancel a Leave Request [DELETE]
Delete the Leave Request if it has not been validated yet (`state` is `Re`) **or** create a cancellation Leave Request otherwise.

The cancellation Leave Request behaves then just as a regular Leave Request and has to go through the whole validation process.

+ Response 200 (application/json)
    The Leave Request was not validated yet (`state` is `Re`): it's definitely removed.
    + Attributes (object)
        + detail: `Leave request cancelled` (string) - Status message.

+ Response 201 (application/json)
    The Leave Request was validated (`state` is `V1` or `Va`): a cancellation Leave Request is created.
    + Attributes (object)
        + cancellationLeaveRequestId: 10 (number) - ID of the cancellation Leave Request.
        + detail: `A cancellation request has been created.` (string) - Status message.
        + validated: false (boolean) - Whether or not the cancellation request has automatically been validated. Happens when the cancellation is requested by an administrator or one of the validators of the Employee. 

### Validate a Leave Request [PATCH /leaverequests/{id}/validate/]
Validate the Leave Request. Depending on the current `state` and the validators of the Employee, several cases could happen:
* Employee has only one validator and `state` is `Re` : Leave Request is validated (`state` becomes `Va`).
* Employee has two validators and `state` is `Re` : only the first validator can validate, Leave Request `state` becomes `V1`.
* Employee has two validators and `state` is `V1` : only the second validator can validate, Leave Request is validated (`state` becomes `Va`).

+ Request
    + Attributes (Comment, optional)

+ Response 200 (application/json)
    + Attributes (Leave Request)

+ Response 403 (application/json)
    Happens when the user doesn't have the rights to validate the Leave Request:
    * An Employee can't validate its own request (**even if they are admin**).
    * First validator while `state` is `V1`.
    + Attributes (object)
        + detail: `Nice try but no, you can't validate your own request 😜` (string) - Status message.

### Deny a Leave Request [PATCH /leaverequests/{id}/deny/]
Deny the Leave Request. Depending on the current `state` and the validators of the Employee, several cases could happen:
* Employee has only one validator and `state` is `Re` : Leave Request is denied (`state` becomes `Rf`).
* Employee has two validators and `state` is `Re` : only the first validator can deny, Leave Request is denied (`state` becomes `Rf`).
* Employee has two validators and `state` is `V1` : only the second validator can deny, Leave Request is denied (`state` becomes `Rf`).

+ Request
    + Attributes (Comment, optional)

+ Response 200 (application/json)
    + Attributes (Leave Request)

+ Response 403 (application/json)
    Happens when the user doesn't have the rights to deny the Leave Request:
    * An Employee can't deny its own request (**even if they are admin**).
    * First validator while `state` is `V1`.
    + Attributes (object)
        + detail: `Nice try but no, you can't validate your own request 😜` (string) - Status message.

### Comment a Leave Request [PATCH /leaverequests/{id}/comment/]
Add a comment to the Leave Request.

+ Request
    + Attributes (Comment, required)

+ Response 200 (application/json)
    + Attributes (Leave Request)

+ Response 403 (application/json)
    Happens when the user doesn't have the rights to comment the Leave Request: neither the Employee, one of the validator of the Employee, nor an admin.
    + Attributes (object)
        + detail: `You can't comment this request.` (string) - Status message.

## Leave Requests Collection [/leaverequests/{?user}{?min_date}{?max_date}{?state}{?is_cancellation_request}{?has_cancellation_request_pending}{?to_validate}]

+ Parameters
    + user: 1 (number, optional) - ID of the User concerned by the Leave Request.
    + min_date: `2017-01-01` (string, optional) - Filter the Leave Requests *from* this date.
    + max_date: `2017-01-07` (string, optional) - Filter the Leave Requests *until* this date.
    + state: Re (string, optional) - Filter the Leave Requests at this `state`.
    + `is_cancellation_request`: false (boolean, optional) - Filter the Leave Requests that are cancellation Leave Requests of others.
    + `has_cancellation_request_pending`: false (boolean, optional) - Filter the Leave Requests that have cancellation Leave Requests pending validation.
    + `to_validate`: false (boolean, optional) - Filter the Leave Requests that the current user has to validate (cancellation Leave Requests included).

### Retrieve all Leave Requests [GET]
Retrieve all Leave Requests that the user can review:
* All if the user is admin.
* It's own and the ones of the Employees the user validates.
* Only it's own otherwise.

+ Response 200
    + Attributes (object)
        + Include Pagination
        + results (array[Leave Request]) - Array of results.

## Create a simple Leave Request [/leaverequests/quick/]
Provide an endpoint to create a Leave Request in one call. Only one Timed Account can be provided. If you wish to create a complex Leave Request with several Timed Accounts, refer to the *Create a complex Leave Request* section.

### Create a simple Leave Request [POST]

+ Request
    + Attributes (object)
        + Include Leave Request Creation Base
        + timed_account: 1 (number, required) - ID of the Timed Account on which withdraw the absence.
        
+ Response 200
    + Attributes (Leave Request)
    
+ Response 400
    Happens when:
    * The user doesn't have the rights to create a Leave Request on behalf of the Employee.
    * The Account associated to the Timed Account provided is `hidden` and the user is not an admin.
    + There are blocking errors preventing this Leave Request to be created (negative balance, consumption constraint not fulfilled, Employee already absent...)
    + Attributes (object)
        + detail: `Impossible request` (string) - Status message.
        
## Create a complex Leave Request [/leaverequests/]
Provide an endpoint to create a complex Leave Request, providing several Timed Account distributed among the days of the absence.

Before doing that, it's **necessary to make a call to an endpoint that will provide groups of accounts**.

### Get groups of accounts [POST /leaverequests/accounts-groups/]
Indeed, given the account type ("jours ouvrés" or "jours ouvrables" in French law), a same day may not weigh the
same from one account to another. Let's take an example: an Employee works usually from **Monday to Friday** and want to **book an absence** from **Friday** to the **next Monday**. Three main cases could happen:
* Account is in "jours ouvrables", and no absence have been booked before: this absence will weigh **2 days** ; Saturday is considered as worked.
* Account is in "jours ouvrés": this absence will weigh **1 day** ; only Friday counts.
* Account is in "jours ouvrables", but already **5 Saturdays** have been counted on other absences: this absence will weigh **1 day** ; this limit of five is here to prevent the Employee from being wronged if they only book absence across two weeks.

That's why we need an endpoint that provide groups of accounts that will weigh the same for the same absence.
**It's not possible to distribute an absence on accounts that not behave the same.**

+ Request
    + Attributes (object)
        + user: 1 (number, optional) - ID of the User concerned by the Leave Request, the Employee. *If not provided, the new Leave Request is associated to the current user.*
        + begin_date: `2017-01-01` (string, required) - First date of the absence in format `YYYY-MM-DD`.
        + end_date: `2017-01-07` (string, required) - Last date of the absence in format `YYYY-MM-DD`.
        
+ Response 200
    + Attributes (array)
        + (object)
            + groupKey: adjGrp0 (string) - ID of the accounts group. *Needed later for the creation of the Leave Request*
            + nb_days: 7 (number) - Number of days counted by this absence for these accounts.
            + timed_accounts: 1, 2, 3 (array[number]) - List of IDs of the Timed Accounts in this group.
            
### Create a complex Leave Request [POST]
Once the accounts group is selected, a distribution array specifying how the absence is distributed accross all days for each
account has to be provided.

> UNDOCUMENTED YET - SUBJECT TO CHANGES

+ Request
    + Attributes (object)
        + Include Leave Request Creation Base

+ Response 200
    + Attributes (Leave Request)

# Data structures

## Pagination (object)

+ count: 100 (number) - Total number of results.
+ next: null (string, nullable) - URL of the next page of results.
+ previous: null (string, nullable) - URL of the previous page of results.

## Account (object)

+ id: 1 (number)
+ title: Paid leave (string) - Title of the absence.
+ backColor: #2c2f3b (string) - Color of the absence shown in the interface in hexadecimal format.
+ distribution: false (boolean) - If `true`, the absence is considered as secondary. **IMPROVEMENT NEEDED**
+ show: true (boolean) - Whether or not the absence is bookable directly by the user.

## Leave Request (object)

+ id: 1 (number)
+ addDate: `2017-06-02T13:37:00Z` (string) - Creation date of the Leave Request.
+ user: 1 (number) - ID of the User concerned by the Leave Request, the Employee.
+ state: Re (enum) - Validation state of the Leave Request.
    + Re (string) - The Leave Request is requested.
    + V1 (string) - The Leave Request is validated by the first validator.
    + Va (string) - The Leave Request is validated.
    + Rf (string) - The Leave Request is refused.
    + Ca (string) - The Leave Request is cancelled.
+ imposed: false (boolean) - Whether or not the Leave Request has been imposed by a validator or an administrator.
+ firstDateKey: `2017-01-01` (string) - First date of the absence in format `YYYY-MM-DD`.
+ lastDateKey: `2017-01-07` (string) - Last date of the absence in format `YYYY-MM-DD`.
+ cancelForLeaveRequest: 10 (number, nullable) - ID of the Leave Request that this Leave Request cancels. `null` if this Leave Request is not a cancellation request.
+ cancellationLeaveRequests: 20, 30, 40 (array[number]) - List of the IDs of the Leave Requests that cancels this Leave request. Empty if this Leave Request has not any cancellation request.
+ leaveRequestDates (array) - Each day concerned by the Leave Request is represented by a Leave Request Date that provides details about the absence on this particular day.
    + (object)
        + dateKey: `2017-01-01` (string) - Date in format `YYYY-MM-DD`.
        + planMark: `all` (enum) - Period of the day on which this Leave Request Date applies.
            + all (string) - All day
            + am (string) - Morning only
            + pm (string) - Afternoon only
        + caw: false (boolean) - Whether or not the date is "considered as work". In French law, this field is here to cope with "jours ouvrables".
        + distribution (array) - Specifies how the absence for this day is distributed among the absences accounts of the Employee.
            + (object)
                + account: 1 (number) - ID of the Timed Account on which this part of the absence is withdrawn.
                + amount: 1 (number) - Value withdrawn from the `account`.
+ comments (array) - Comments posted by the users about this Leave Request.
    + (object)
        + author: 42 (number) - Id of the User author of this comment.
        + addDate: `2017-06-02T13:37:00Z` (string) - Creation date of the comment.
        + text: `Know where your towel is.` (string) - Text of the comment.

## Comment (object)

+ comment: `Know where your towel is.` (string) - Text of the comment.

## Leave Request Creation Base (object)

+ user: 1 (number, optional) - ID of the User concerned by the Leave Request, the Employee. *If not provided, the new Leave Request is associated to the current user.*
+ begin_date: `2017-01-01` (string, required) - First date of the absence in format `YYYY-MM-DD`.
+ end_date: `2017-01-07` (string, required) - Last date of the absence in format `YYYY-MM-DD`.
+ `morning_included`: true (boolean, required) - Whether or not the morning of the `begin_date` is included in the absence.
+ `afternoon_included`: true (boolean, required) - Whether or not the afternoon of the `end_date` is included in the absence.
+ Include Comment

## User (object)

+ id: 1 (number)
+ username: adent (string) - Username of the User used to login.
+ email: adent@42.com (string) - E-mail address of the User.
+ firstName: Arthur (string) - First name of the User.
+ lastName: Dent (string) - Last name of the User.
+ phone: null (string, nullable) - Phone number of the User.
+ birthDate: `1978-01-01` (string, nullable) - Birthdate of the User in format `YYYY-MM-DD`.
+ isAdmin: false (boolean) - Whether or not this User has the admin rights on the company.
+ startDate: `2010-01-01` (string, nullable) - Date of arrival of the User in the company in format `YYYY-MM-DD`.
+ endDate: `2017-01-01` (string, nullable) - Date of departure of the User from the company in format `YYYY-MM-DD`.
+ planViewRight: AT (enum) - Vision rights of the User on the planning.
    + HS (string) - "Himself", the User can only view himself in the planning.
    + HT (string) - "His team", the User can view himself and the Users of his team in the planning.
    + AT (string) - "All team", the User can view everyone in the planning.
+ validator1: 2 (number) - User ID of the first validator of the User.
+ validator2: 3 (number, nullable) - User ID of the second validator of the User.
+ substituteValidator: 4 (number, nullable) - User ID of the User replacing this User for validation when he is absent.
+ externalId: adent (string, nullable) - Identifier used for some payroll exports.
+ comment: Interpreted in 2005 by Martin Freeman (string, nullable) - Comment added by an admin about the User.
+ timedAccounts: 1, 2, 3, 4 (array[number]) - List of IDs of Timed Accounts the User is allowed on.
+ calendarProfilePeriods (array[Calendar Profile Period]) - Calendar Profiles of the User.

## Calendar Profile Period (object)

+ calendarProfile: 1 (number) - ID of the Calendar Profile.
+ startDate: `2016-01-01` (string) - Date from which this Calendar Profile is applied.
+ endDate: `2016-12-31` (string) - Date until which this Calendar Profile is applied.

## Calendar Profile (object)

+ id: 1 (number)
+ title: Full-time (string) - Title for this Calendar Profile
+ calendars: 1, 2, 3, 4 (array[number]) - List of IDs of Calendar Layers associated to this Calendar Profile.

## Calendar Layer (object)

+ id: 1 (number)
+ title: Week-ends (string) - Title for this Calendar Layer
+ calendarFeeder (string) - JavaScript function that resolves internally to days-off.
+ editor WE (enum) - Calendar editor type to show in the interface.
    + WE (string) - Week
    + MO (string) - Month
    + YR (string) - Year
    + SC (string) - Script